.project_main{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    overflow: hidden;
}

table{
    padding: 0;
    margin: 0;
}

tr, .no_standart_td{
    border: none;
    display: block;
    padding: 0;
    margin: 0;
}



@media screen and (max-width: 800px) {
    .right-content{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    header{
        display: none;
    }
}


.lk{
    display: flex;
    justify-content: center;
    gap: 17px;
    flex-wrap: nowrap;
    margin-top: 68px;
}

.lk-1{
    background: #FFFFFF;
    border: 1.06268px solid #DFDBD8;
    border-radius: 12.7522px;
    width: 498px;
    height: 252px;
}
.lk-2{
    background: #FFFFFF;
    border: 1.06268px solid #DFDBD8;
    border-radius: 12.7522px;
    width: 627px;
    height: 252px;
}
.lk-profile{
    margin-top: 5px;
    margin-bottom: 6px;
    align-self: center;
    text-align: center;
    color: #456086;
}
.lk-profile-icon{
    margin-left: 5px;
}
.personal-date{
    margin-top: 5px;
    margin-bottom: 6px;
    align-self: center;
    text-align: center;
    color: #456086;
}
.avatar{
    display: flex;
    border: 1.06268px solid #DFDBD8;
    border-radius: 12.7522px;
    width: 461px;
    height: 77px;
    margin-left: 17px;
    margin-right: 20px;
    align-items: center;
}
.avatar-icon{
    display: inline;
    margin-left: 6px;
    width: 61px;
    height:61px;
}

.upload-avatar-image{
    border: 1.06268px solid #456086;
    border-radius: 12.7522px;
    margin-left: 12px;
    padding: 2px 3px 2px 3px;
    background: #FFFFFF;
    color: #456086;
    cursor: pointer;
}
.lk-initials{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.name,
.surname{
    border: 1.06268px solid #DFDBD8;
    border-radius: 12.7522px;
    width: 176px;
    height: 24px;
    color: #A7A7A7;
    margin-left: 23px;
    padding-left: 12px;
}
.surname{
    margin-top: 21px;
}
.data{
    display: block;
    margin-left:16px;
}

.data-text{
    width: 161px;
    height: 24px;
    border: 1.06268px solid #DFDBD8;
    border-radius: 12.7522px;
    margin-left: 10px;
    color: #A7A7A7;
    padding-left: 12px;
}
.all-data{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.icon-img{
    background: #FFFFFF;
    width: 40px;
    height:40px;
    display:inline;
    margin-left: 16px;
}

.button-save{
    display: flex;
    justify-content: space-evenly;
}
.button-save button
{
    width: 212px;
    height: 56px;
    margin-top: 15px;
    border-style: none;
    border-radius: 10px;
    background-color: #456086;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    justify-content: center;
}

#d-photo{
    display: none;
}
