.project_list_main{
    padding: 30px;
    padding-right: 40px;
    padding-left: 40px;
    overflow-y: scroll;
}

.project_list_main::-webkit-scrollbar{
    display: none;
}

.project_list{
    list-style: none;
    counter-reset: item;
    margin-left: auto;
    margin-right: auto;
}

.project_list_item{
    position: relative;
    width: 700px;
    background: linear-gradient(90deg, #E9E6CE, #99AEB2);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    left: -1em;
}

.project_list_item_link p{
    color: #456086;
    font-size: 12px;
}

.project_list_item_link h1{
    font-size: 20px;
}

.project_list_item::before {
    content: counter(item);
    counter-increment: item;
    display: inline-block;
    width: 39px;
    height: 39px;
    line-height: 2em;
    font-size: 20px;
    color: rgba(167, 167, 167, 1);
    text-align: center;
    border: thin solid rgba(167, 167, 167, 1);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: -3em;
    top: 50%;
    transform: translateY(-50%);
}

.project_list_main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: nowrap;
}

.filter{
    margin-top: 2px;
    margin-left: 20px;
}

.filter-block{
    display: flex;
    width: 200px;
    flex-direction: column;
}

.filter-block div{
    background-color:#FFFFFF;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: thin solid #CCC1BE;
}

.filter-buttons{
    display: flex;
    flex-direction: column;
}

.filter-button, .filter-cancel-button{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 20px;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* padding: 10 15 10 15; */
    color: #FFFFFF;
    background-color: #456086;
    border-radius: 10px;
    border: thin solid #456086;
    cursor: pointer;
}

.filter-button:hover, .filter-cancel-button:hover{
    color: #456086;
    background-color: #FFFFFF;
    border: thin solid #456086;
}

.filter-block h3{
    padding: 0 2 0 2;
    margin-bottom: 2px;
    font-size: 20px;
    color: #456086;
    text-decoration: underline #456086;
    cursor: pointer !important;
}

.filter-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    padding: 5px;
    padding-bottom: 0;
    font-size: 16px;
    cursor: pointer;
}

.filter-item input{
    margin-left: 0;
    width: 20px;
    height: 20px;
}

table{
    padding: 0;
    margin: 0;
}

tr, .no_standart_td{
    border: none;
    display: block;
    padding: 0;
    margin: 0;
}

.registration{
    width: 652px;
    height: 455px;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 800px) {

}
@media screen and (max-width: 1000px) {
    header{
        display: none;
    }
}
