<html>
    <head>
        <title>НОЦ Аналитика</title>
        <link rel="stylesheet" href="../static/css/profile.css">
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <nav class="site-navigation">
                <div class="site-title">
                    <h1>НОЦ<br><span class="analitica">Аналитика</span></h1>
                </div>
                <ul class="nav-items">
                    <li class="nav-item">
                        <a href="./statistic" class="nav-item-link" id="nav-item-1">
                            <img src="../static/img/category.svg" class="nav-item-icon" width="18px" height="18px">
                            <span>Статистика</span>
                            <img src="../static/img/active_link.svg" class="nav_active_item" width="36px" height="36px">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-item-link" id="nav-item-2">
                            <img src="../static/img/square.svg" class="nav-item-icon"  width="18px" height="18px">
                            <span>НОЦ</span>
                            <img src="../static/img/active_link.svg" class="nav_active_item" width="36px" height="36px">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-item-link" id="nav-item-3">
                            <img src="../static/img/chart.svg" class="nav-item-icon"  width="18px" height="18px">
                            <span>Направления</span>
                            <img src="../static/img/active_link.svg" class="nav_active_item" width="36px" height="36px">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./" class="nav-item-link" id="nav-item-4">
                            <img src="../static/img/calendar.svg" class="nav-item-icon"  width="18px" height="18px">
                            <span>Проекты</span>
                            <img src="../static/img/active_link.svg" class="nav_active_item" width="36px" height="36px">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-item-link" id="nav-item-5">
                            <img src="../static/img/chat.svg" class="nav-item-icon"   width="18px" height="18px">
                            <span>Входящие заявки</span>
                            <img src="../static/img/active_link.svg" class="nav_active_item" width="36px" height="36px">
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="top-content">
                <div class="top-menu">
                    <div class="search">
                        <input type="text" placeholder="Поиск">
                        <img src="../static/img/search.svg" height="25px" width="25px" class="search-icon">
                    </div>
                    <button id="add_request">Добавить заявку</button>
                    <a href="./profile" class="profile">
                        <span>Фамилия <br> Имя</span>
                        <img src="../static/img/space.jpg" class="profile-icon" alt="Аватарка" width="50px" height="50px">
                    </a>
                </div>
            </div>
            <div class="project_main">
                <div class = "lk">
                    <div class="lk-1">
                        <h3 class="lk-profile">Профиль</h3>
                        <div class="avatar">
                            <img  src="../static/img/avatar.svg" class="lk-profile-icon" alt = "аватарка" width="61px" height="61px" class="avatar-icon">
                            <button id="d-photo">Загрузить фото</button>
                        </div>
                        <div class="initials">
                            <input type = "text" value="Иван" class="name">
                            <input type = "text" value="Иванов" class="surname">
                        </div>
                    </div>
                    <div class="lk-2">
                        <h3 class="personal-date">Личные Данные</h3>
                        <div class="data">
                            <div class = "all-data">
                                <img src = "../static/img/phone.svg" widthg="19.93px" heihgt="19.87px" class="icon-img">
                                <input type = "tel" value="+79127320122" class="data-text">
                            </div>
                            <div class = "all-data">
                                <img src = "../static/img/mail.svg" widthg="20px" heihgt="16px" class="icon-img">
                                <input type = "email" value="barsik@mail.ru" class="data-text">
                            </div>
                            <div class = "all-data">
                                 <img src = "../static/img/mail.svg" width="24px" heihgt="23px" class="icon-img">
                                 <input type = "text"  value="Смена пароля" class="data-text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>


        <div id="blackout"></div>
        <div id="form">
            <form action="/upload_file" method="post" enctype="multipart/form-data">
                <p>Перенесите документ</p>
                <label for="file-upload" class="custom-file-upload">
                    <img src="../static/img/download.svg" alt="Upload Image" width="106px" height="106px">
                    <p class="form-text">Загрузите документ в формате<br> <b>.pdf</b> или <b>.doc</b></p>
                  </label>
                  <input type="file" id="file-upload" name="file" accept=".pdf,.doc,.docx">
                <div class="form_buttons">
                    <button class="fill_form_butn" type="button">ЗАПОЛНИТЬ ФОРМУ</button>
                    <input class="send_doc_butn" type="submit" value="ОТПРАВИТЬ ДОКУМЕНТ">
                </div>
            </form>
        </div>
        <script src="../static/src/script.js"></script>
    </body>
</html>